<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Macpain_MasterPassword>
            <version>0.1.0</version>
        </Macpain_MasterPassword>
    </modules>
    <global>
        <models>
            <macpain_masterpassword>
                <class>Macpain_MasterPassword_Model</class>
            </macpain_masterpassword>
            <macpain_masterpassword_mysql4>
                <class>Macpain_MasterPassword_Model_Mysql4</class>
                <entities></entities>
            </macpain_masterpassword_mysql4>
        </models>
        <helpers>
            <macpain_masterpassword>
                <class>Macpain_MasterPassword_Helper</class>
            </macpain_masterpassword>
        </helpers>
        <blocks>
            <macpain_masterpassword>
                <class>Macpain_MasterPassword_Block</class>
            </macpain_masterpassword>
        </blocks>
        <resources>
            <macpain_masterpassword_setup>
                <setup>
                    <module>Macpain_MasterPassword</module>
                    <class>Macpain_MasterPassword_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </macpain_masterpassword_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <masterpassword>
                <use>standard</use>
                <args>
                    <module>Macpain_MasterPassword</module>
                    <frontName>masterpassword</frontName>
                </args>
            </masterpassword>
        </routers>
        <layout>
            <updates>
                <masterpassword>
                    <file>macpain_masterpassword.xml</file>
                </masterpassword>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <masterpassword>
                        <class>macpain_masterpassword/adminhtml_observer</class>
                        <method>onBlockHtmlBefore</method>
                    </masterpassword>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <masterpassword>
                <use>admin</use>
                <args>
                    <module>Macpain_MasterPassword</module>
                    <frontName>masterpassword</frontName>
                </args>
            </masterpassword>
        </routers>
    </admin>
    <default>
    	<masterpassword>
    		<options>
	    		<password>Yourpassword123</password>
	    		<salt>abcd</salt>
    		</options>
    	</masterpassword>
    </default>
</config>
